* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #00B98E;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
}

body {
    font-family: "Heebo", sans-serif;
    background-color: var(--light);
    overflow-x: hidden;
}

/* Container  Start*/
.container {
    max-width: 83rem;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "right left";
    margin-top: -116px;
}

.left {
    grid-area: right;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    padding-top: 60px;

}

.left .text h1 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.2;
    color: #0E2E50;
    font-family: "Inter", sans-serif;
    margin-bottom: 2rem;
}

.left .text h1 span {
    color: var(--primary);
}

.left .text p {
    margin-bottom: 2rem;
    word-spacing: 5px;
}

.inner_link {
    display: inline-block;
    text-decoration: none;
    color: #00B98E;
    transition-property: color;
    transition-duration: .2s;
}

.inner_link:hover {
    color: rgb(1, 38, 1) !important;
    opacity: 1 !important;
}

/* right */
.right {
    grid-area: left;
    position: relative;
}

.right img {
    width: 100%;
    height: 100%;
}

/* Container End */
/* Header*/
header {
    max-width: 78rem;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: max-width 0.5s ease;

}

.space {
    background-color: transparent;
    height: 40px;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: white;
    padding: 12px 20px;
    height: 76px;
    box-shadow: 0px 0px 10px rgb(217, 212, 212);
    z-index: 1000;
}

.Logo {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.logo_name {
    text-decoration: none;
    color: #00B98E;
    font-weight: 600;
    font-size: calc(1.375rem + 1.5vw);
}

.nav .Logo img {
    padding: 7px;
    width: 45px;
    border: 1px dashed var(--primary);
    border-radius: 50%;
    margin-right: 5px;
}

.more {
    display: none;
}

.less {
    display: block;
}

.link {
    text-decoration: none;
    color: #0E2E50;
    font-size: 15px;
    padding-block: 20px;
    margin-right: 28px;
    transition-property: color;
    transition-duration: .2s;
}

.first_link {
    margin-top: 0px;
}

.link:hover {
    color: var(--primary);
}

.active {
    color: var(--primary) !important;
    text-decoration: none;
}

/* DropDown Start */
.hover_container {
    position: relative;
    width: max-content;
}

.menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    width: 160px;
    border: 1px solid rgb(214, 199, 199);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(81, 80, 80);
    display: block;
    width: 100%;
    padding-block: 15px;
    padding-left: 5px;
}

.menu ul li a:hover {
    color: rgb(81, 80, 80);

    background-color: rgb(245, 242, 242);
}

.hover_text {
    display: inline-block;
    padding-block: 30px;
}

.hover_container:hover .menu {
    visibility: visible;
    opacity: 1;
}

.active2 {
    color: white !important;
    background-color: var(--primary) !important;
}

/* DropDown End */
.fa-angle-down {
    transition: transform .5s;
}

.hover_container:hover .fa-angle-down {
    transform: rotate(180deg);
}

.special {
    padding: 10px 15px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: .5s;
    cursor: pointer;
}

.special:hover {
    background-color: #21d8ab;
}

/* Header End */

/* Search bar Start*/
.search_container {
    height: 126px;
    padding: 35px;
    background-color: var(--primary);
    max-width: 83rem;
    margin: auto;
}

.search_bar {
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.search {
    height: 100%;
    padding-inline: 10px;
    width: 27%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    border-right: 10px white solid;
    color: rgb(107, 113, 111);
}

.search_button {
    width: 17%;
    height: 100%;
    color: white;
    background-color: #0E2E50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .5s;
    font-size: 1rem;
}

.search_button:hover {
    background-color: #091f37;
}

/* Search bar End*/

/*------------------------------------------------------------------------------------------------*/

/* styling of contact us */
.contactContainer {
    position: relative;
    max-width: 83rem;
    background-color: white;
    margin: auto;
}

.contactContainer .contact {
    text-align: center;
    margin: auto;
}

.contactContainer .contact h2 {
    padding-top: 90px;
    margin-bottom: 20px;
    font-size: 41px;
    color: #0e2e50;
    font-family: Arial, Helvetica, sans-serif;
}

.contactContainer .contact p {
    color: #666565;
    margin-bottom: 5px;
}

.contactContainer .info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 55px;
    flex-wrap: wrap;
    gap: 45px;
}

.contactContainer .info .icon {
    width: 379px;
    border: 1px dashed #80dcc6;
    padding: 15px;
    outline: 20px solid #effdf5;
}

.contactContainer .info .icon i {
    height: 44px;
    width: 44px;
    color: #00B98E;
    border: 1px dashed #00B98E;
    padding: 13px;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;
}

.formAndMapContainer {
    display: flex;
    /* height: 452px; */
    margin-top: 45px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.formAndMapContainer .map {
    width: 600px;
    height: 458px;
    margin-bottom: 40px;
}

/* form start */
.formAndMapContainer .form {
    width: 600px;
}

.formAndMapContainer .form p {
    width: 97%;
    color: #666565;
}

.formAndMapContainer .form p a {
    text-decoration: none;
    color: #00B98E;
}

.formAndMapContainer .form p a:hover {
    color: #009270;
}

.formAndMapContainer .form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 27px;
}

.formAndMapContainer .form form .txt {
    width: calc(98% / 2);
    padding: 18px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.formAndMapContainer .form form .txt:focus {
    outline: 5px solid #c1ede4;
}

.formAndMapContainer .form form .sub {
    width: 100%;
}

.formAndMapContainer .form form .msg {
    width: 100%;
    height: 170px;
    resize: vertical;
}

.formAndMapContainer .form form .btn {
    width: 100%;
    padding: 19px 10px;
    background-color: #00B98E;
    color: white;
}

.formAndMapContainer .form form .btn:hover {
    background-color: #07c699;
    cursor: pointer;
}

.formAndMapContainer .form form .btn:focus {
    outline: none;
}

/* form end */

.formAndMapContainer .map .myLocation {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

/* Arrow Start */
.up_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.up_arrow:hover {
    background-color: #21d8ab;
}

/* Arrow end */

::selection {
    background-color: #00B98E;
}

/* Footer start */
.space_div{
    height: 50px;
    background-color: white;
    max-width: 83rem;
    margin: auto;
}
footer{
    max-width: 83rem;
    height: 380px;
    background-color:#0E2E50;
    margin-inline: auto;
    padding-top: 96px;
    padding-inline: 30px;
    display: flex;
    color: white;
}
.col{
    width: 25%;
    min-width: 265.8;
}
.col h3{
    margin-bottom: 30px;
}
.col i{
    margin-right: 10px;
}
.col p{
    opacity: .4;
    margin-bottom: 15px;
}
.col a{
    text-decoration: none;
    color: white;
    /* opacity: .8; */
}
.icon i{
    color: rgb(255, 255, 255);
    border: white 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color color;
    transition-duration: .5s;
}
.icon i:hover{
    background-color: white;
    color: var(--primary);
    opacity: 1;
}
.col2 p{
    transition: font-size .2s;
}
.col2 p:hover{
    font-size: 1.1rem;
}
.img-Gal img{
    width: 30%;
    border: white 4px solid;
    border-radius: 5px;
    transition-property: transform ;
    transition-duration: .5s ;
}
.img-Gal img:hover{
    transform:scale(1.05)  ;
}
.icon a {
    text-decoration: none;
  }
.sign{
    width: 100%;
    height: 60px;
    border: 1px white solid;
    border-radius: 5px;
    padding-right: 15px;
}
.sign input{
    height: 100%;
    background-color: transparent;
    border: none;
    padding-left: 20px;
    color: white;
    font-size: 1rem;
    width: 68%;
    margin: 0;
    border-style: none;
}
.sign input:focus{
    border: none;
    outline: none;
}
.sign .sign-btn{
    height: 80%;
    width: 30%;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
    font-size: 1rem;
}
/* Footer end */

@media screen and (width < 1100px) {
    .container{
        display: block;
        margin-top: 0;
        height: fit-content;
    }
    .search_container{
        height: 300px;
    }
    .left{
        display: block;
    }
    .search_bar{
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 10px;
    }
    .search{
        width: 100%;
    }
    .less{
        display: none;
    }
    .more{
        display: block;
    }
    .nav{
        padding-inline: 5px;
    }
    .hover_text{
        padding: 0;
        margin-right: 20px;
    }
    .left_arrow, .right_arrow{
        left: 0;
    }
    .left_arrow{
        top: 40%;
    }
    .right_arrow{
        top: 60%;
    }
    h1{
        font-size: 2rem;
    }
    .menu{
        width: fit-content;

    }
    .search_button{
        width: 100%;
    }
    .space{
        height: 0;
    }
    .About{
        flex-direction: column;
        align-items: center;
    }
    .About .right_text{
        width: 100%;
    }
    .left_img{
        max-width: 100%;
    }
    .up_arrow{
        bottom: 1.5rem;
        right: 1.5rem;
    }
    .fifty{
        width: 100%;
        display: block;
    }
    .resp_show{
        display: block;
    }
    .resp_hid{
        display: none;
    }
    footer{
        height: fit-content;
        flex-wrap: wrap;
        padding: 40px;
    }
    footer .col{
        flex: 1 0 265.8px;
        margin-bottom: 40px;
    }
    .radio{
        width: 100%;
        margin-top: 12px;
    }
    .reg_desc{
        width: 80%;
    }
    .space_div{
        height: 0;
    }
    .formAndMapContainer .map{
        height: 300px;
    }
}
@media screen and (width < 400px)
{
    .nav{
        display: grid;
        height: 110px;
        width: 100%;
        justify-content: center;
        grid-template-rows: 70px 30px;
        grid-template-areas: 
        "Log Log"
        "prop page";
        justify-items: center;
        padding-block: 6px;
    }
    .Logo{
        grid-area: Log;
        margin: auto;
    }
    .logo_name{
        font-size: calc(2.5rem + 1.5vw);
    }
    .hover_text{
        max-width: 120px;
        text-align: center;
        margin:0;
    }
    .prop{
        grid-area: prop;
    }
    .page{
        grid-area: page;
    }
    .left{
        padding-inline: 20px;
    }
    .left .text h1 {
        font-size: 2.4rem;
    }
    .get_started{
        width: 100%;
        text-align: center;
    }
    .agent_container{
        padding: 20px;
    }
    .agent_container p{
        width: 90%;
    }
    .agent_container h3{
        font-size: 2.2rem;
    }
    .propList .top h3{
        font-size: 2.2rem;
        padding-top: 10px;
    }
    .reg{
        padding: 20px;
        padding-top: 40px;
    }
    .reg_desc{
        width: 100%;
    }
    form .sub2 {
        width: 100%;
        margin-top: 20px;
    }
    .contactContainer{
        padding-inline: 10px;
    }
    .contactContainer .info .icon {
        width: 95%;
        outline: 10px solid #effdf5;
    }
    .formAndMapContainer .form form .txt{
        width: 98%;
    }
}